In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("DatosImpuestos_Tarea.xlsx")

In [3]:
df

,Distrito,CCAA,ActEconom,ActEconom_Cuali,Basura,Vehiculo,Vivienda,Basura_Cuali,Vehiculo_Cuali,Salario_1,...,Edad_18_65,Mayor_65,Vivienda_Grande,Ganaderia,Hosteleria,Comercios,Agricultura,Actividad_Municipio,Tamano,Locales
0,10,Extremadura,20.213,0,60.444,35.555,1.778,1,0,3.869,...,54.762,42.857,15.0,0.0,0.0,0.0,0.0,Otros,Pequeño,28
1,10,Extremadura,25.275,0,54.779,44.118,0.368,1,0,1.632,...,32.432,51.351,11.0,0.0,0.0,0.0,0.0,Otros,Pequeño,67
2,10,Extremadura,27.241,0,44.203,53.140,0.966,0,1,1.230,...,36.066,55.738,49.0,0.0,0.0,0.0,0.0,Otros,Pequeño,74
3,10,Extremadura,30.114,1,50.813,45.325,0.000,1,0,4.258,...,61.111,31.481,50.0,0.0,0.0,0.0,0.0,Otros,Pequeño,66
4,10,Extremadura,30.185,1,44.562,49.867,0.796,0,1,3.531,...,48.077,36.538,22.0,0.0,0.0,0.0,0.0,Otros,Pequeño,96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8114,9,CastillaLeón,21.951,0,50.000,43.750,3.125,1,0,0.000,...,0.000,100.000,0.0,0.0,0.0,0.0,0.0,Otros,Pequeño,2
8115,9,CastillaLeón,18.182,0,18.889,76.667,3.333,0,1,0.000,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,Otros,Pequeño,19
8116,9,CastillaLeón,15.152,0,25.000,71.429,3.571,0,1,0.000,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,Otros,Pequeño,11
8117,9,CastillaLeón,25.118,0,37.975,60.126,1.266,0,1,0.826,...,33.333,66.667,13.0,0.0,0.0,0.0,0.0,Otros,Pequeño,47
8118,9,CastillaLeón,21.818,0,9.302,83.721,4.651,0,1,0.000,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,Otros,Pequeño,24

In [4]:
df = df.sort_values(by="Distrito")

In [7]:
for i in df:
    print(df[i].value_counts())

9     371
37    362
8     311
50    293
19    288
31    272
46    266
5     248
49    248
16    238
44    236
25    231
47    225
10    222
17    221
24    211
40    209
45    204
22    202
34    191
43    184
42    183
28    179
26    174
18    170
6     165
3     141
12    135
48    112
41    105
39    102
4     102
13    102
29    101
23     97
15     93
32     92
20     88
2      87
21     79
33     78
14     75
7      67
27     67
36     62
38     54
1      51
30     45
11     44
35     34
51      1
52      1
Name: Distrito, dtype: int64
CastillaLeón      2248
Cataluña           947
CastillaMancha     919
Andalucía          773
Aragón             731
ComValenciana      542
Extremadura        387
Galicia            314
Navarra            272
PaísVasco          251
Madrid             179
Rioja              174
Cantabria          102
Canarias            88
Asturias            78
Baleares            67
Murcia              45
Ceuta                1
Melilla              1
Name: CCAA, dtype: int64
25.000    54
20.000    45
0.000     32
16.667    30
22.222    27
          ..
30.378     1
29.512     1
31.156     1
22.471     1
48.650     1
Name: ActEconom, Length: 5675, dtype: int64
0    5591
1    2528
Name: ActEconom_Cuali, dtype: int64
33.333    43
50.000    42
0.000     40
25.000    39
40.000    22
          ..
4.370      1
2.632      1
3.906      1
9.850      1
34.417     1
Name: Basura, Length: 6569, dtype: int64
50.000    52
75.000    30
60.000    28
66.667    24
62.500    21
          ..
71.579     1
46.240     1
28.271     1
55.584     1
61.451     1
Name: Vehiculo, Length: 6682, dtype: int64
0.000     1257
3.226       18
1.786       17
2.439       17
1.639       17
          ...
69.559       1
82.572       1
59.944       1
82.263       1
0.931        1
Name: Vivienda, Length: 4319, dtype: int64
0    6310
1    1809
Name: Basura_Cuali, dtype: int64
1    5043
0    3076
Name: Vehiculo_Cuali, dtype: int64
0.000    1035
2.439      19
2.128      16
2.703      15
2.326      15
         ...
2.350       1
2.407       1
3.790       1
4.354       1
8.475       1
Name: Salario_1, Length: 3761, dtype: int64
0.000     262
7.143      21
5.556      16
4.762      14
5.000      13
         ...
7.399       1
22.634      1
24.002      1
20.181      1
29.676      1
Name: Salario_2, Length: 5891, dtype: int64
60.000    28
50.000    27
50.001    23
66.666    13
62.500    13
          ..
54.361     1
57.722     1
62.165     1
55.232     1
60.640     1
Name: Salario_3, Length: 6215, dtype: int64
33.334    19
37.500    19
50.000    17
40.000    12
28.572    12
          ..
15.893     1
17.530     1
12.656     1
11.906     1
9.684      1
Name: Salario_4, Length: 6778, dtype: int64
50.000    99
42.857    40
40.000    38
45.455    29
44.444    25
          ..
42.041     1
46.186     1
44.083     1
45.968     1
49.064     1
Name: Habit_Vivienda, Length: 4524, dtype: int64
0.00     736
2.33      25
1.61      20
4.55      19
1.96      19
        ...
18.97      1
19.10      1
21.82      1
15.77      1
9.46       1
Name: Empresario, Length: 2329, dtype: int64
100.000    45
87.500     27
85.714     26
83.333     25
80.000     21
           ..
84.574      1
87.216      1
90.418      1
83.515      1
59.947      1
Name: DeudaSaldada, Length: 6151, dtype: int64
0.000     89
5.556     24
9.091     22
6.250     22
7.692     20
          ..
8.341      1
3.570      1
6.514      1
5.039      1
19.668     1
Name: DeudaFinanc, Length: 5574, dtype: int64
 0.00     91
-14.29    21
-12.50    18
-6.25     17
-16.67    17
          ..
-13.46     1
-14.02     1
 6.47      1
 15.00     1
 4.57      1
Name: Cambio_Deuda, Length: 3048, dtype: int64
0.000     2688
11.111      97
14.286      90
9.091       89
16.667      87
          ...
3.524        1
4.294        1
5.749        1
4.130        1
16.363       1
Name: Menor_18, Length: 2342, dtype: int64
0.000      1059
50.000      387
33.333      356
100.000     222
25.000      189
           ...
39.326        1
35.938        1
39.568        1
47.945        1
46.165        1
Name: Edad_18_65, Length: 2681, dtype: int64
0.000      745
100.000    507
50.000     495
66.667     301
33.333     169
          ...
43.836       1
58.407       1
60.127       1
44.872       1
37.472       1
Name: Mayor_65, Length: 2751, dtype: int64
0.0       1215
5.0        226
4.0        225
6.0        193
7.0        181
          ...
696.0        1
2616.0       1
1925.0       1
3735.0       1
3762.0       1
Name: Vivienda_Grande, Length: 1225, dtype: int64
0.0      4927
8.0       121
7.0       114
6.0       111
5.0       111
         ...
496.0       1
407.0       1
428.0       1
218.0       1
138.0       1
Name: Ganaderia, Length: 307, dtype: int64
0.0       4927
26.0        38
42.0        36
35.0        35
46.0        34
          ...
393.0        1
3005.0       1
1018.0       1
696.0        1
2539.0       1
Name: Hosteleria, Length: 802, dtype: int64
0.0       4927
21.0        52
22.0        48
11.0        46
16.0        44
          ...
381.0        1
397.0        1
2774.0       1
823.0        1
1414.0       1
Name: Comercios, Length: 757, dtype: int64
0.0       4927
16.0        77
12.0        68
17.0        67
9.0         64
          ...
455.0        1
293.0        1
2395.0       1
363.0        1
321.0        1
Name: Agricultura, Length: 456, dtype: int64
Otros          4932
Hosteleria     2540
Comercios       620
Agricultura      14
Ganaderia        13
Name: Actividad_Municipio, dtype: int64
Pequeño    6417
Medio      1053
Grande      557
?            92
Name: Tamano, dtype: int64
99999    189
20       118
15       118
11       116
12       115
        ...
1312       1
762        1
733        1
255        1
344        1
Name: Locales, Length: 758, dtype: int64